body {
	background-color: #f0f0f0;
}
#header {
	text-align: center;
	background-color: rgb(240, 3, 169);
	color: #fff;
}
/* #rowSearch {
	display: flex;
	flex-direction: row;
} */
/* .customSelect {
	display: flex;
	flex-direction: row;
} */
